.button_create {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  border: 0;
  color: inherit;
  line-height: normal;
  border-radius: 30px;
  background-color: rgb(221, 56, 19);
  padding: 10px 40px;
  transition: all 300ms;
}
.button_create:hover {
  background-color: rgb(215, 61, 26);
  transition: all 300ms;
}
.button_create:active {
  background-color: rgb(198, 56, 25);
  transition: all 300ms;
}