.mySwiper-constructor .swiper-pagination-bullets {
  left: 0px !important;
}
.mySwiper-constructor .swiper-wrapper {
  width: calc(100% - 70px);
  margin-left: auto;
}
.mySwiper-constructor .swiper-pagination {
  width: max-content;
}
.mySwiper-constructor .swiper-pagination-bullet {
  width: 62px;
  height: 62px;
  border-radius: 15px !important;
  background-image: url(../assets/dropbox.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
  margin: 20px 0 !important;
}
.mySwiper-constructor .swiper-pagination-bullet:nth-child(2) {
  background-image: url(../assets/style.svg);
}
.mySwiper-constructor .swiper-pagination-bullet:nth-child(3) {
  background-image: url(../assets/shopping-cart.svg);
}
.mySwiper-constructor .swiper-pagination-bullet:nth-child(4) {
  background-image: url(../assets/book.svg);
}
.mySwiper-constructor .swiper-pagination-bullet:nth-child(5) {
  background-image: url(../assets/receipt-text.svg);
}

footer {
  display: none;
}