.section_contacts {
  height: calc(100% - 150px);
  background-image: url("./assets/bg-main-img.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.section_title {
  padding-top: 45px;
  text-align: left;
}

.block_contacts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 40px;
  margin-top: 83px;
}

.item_block_contacts {
  max-width: 480px;
}

.title_contact {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 10px;
}

.text_contact {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
}