.header {
  position: sticky;
  top: 0;
  width: 100%;
  background: rgba(0, 4, 111, 0.9803921569);
  z-index: 999;
}

.header__inner {
  display: flex;
  align-items: center;
  height: 70px;
}

.list__navigation {
  position: relative;
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  font-weight: 500;
  margin-left: 100px;
}

.list__item p {
  position: relative;
  cursor: pointer;
  font-size: 15px;
}
.list__item p::before {
  content: "";
  position: absolute;
  bottom: 0;
  transform: translateY(3px);
  left: 0;
  width: 0px;
  height: 2px;
  background-color: #F14D29;
  transition: all 350ms;
}
.list__item p:hover::before {
  width: 100%;
  transition: all 350ms;
}

.buttons_block {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-left: auto;
}

.user_nav {
  margin-left: auto;
  font-weight: 400;
  font-size: 15px;
}

.user_list {
  display: flex;
  -moz-column-gap: 18px;
       column-gap: 18px;
}

.list_item {
  display: flex;
  align-items: center;
  -moz-column-gap: 9px;
       column-gap: 9px;
  cursor: pointer;
}
.list_item img {
  width: 18px;
}