.likes__review, .likes__review_true {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  column-gap: 5px;
  min-width: 57px;
  color: rgb(242, 242, 242);
  font-size: 15px;
  font-weight: 500;
  background-color: rgb(195, 195, 195);
  padding: 5px 13px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 150ms;
}
.likes__review img, .likes__review_true img {
  width: 15px;
  height: 15px;
  cursor: pointer;
  transition: all 150ms;
}
.likes__review p, .likes__review_true p {
  font-size: 16px;
  line-height: 15px;
  font-weight: 400;
  transition: all 150ms;
}

.likes__review_true {
  background-color: rgb(248, 37, 40);
  transition: all 150ms;
}