.order__item_block {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  justify-content: flex-end;
  background-color: white;
  border-radius: 7px;
  padding: 15px 20px;
  width: 100%;
  column-gap: 20px;
  margin-top: 15px;
}
.order__item_block .image_product {
  width: 85px;
}
.order__item_block .cart__item_info {
  max-width: 279px;
  color: black;
}
.order__item_block .title {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 5px;
}
.order__item_block .text {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.order__item_block .count__product {
  color: #282727;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  white-space: nowrap;
}
.order__item_block .price {
  color: #282727;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  white-space: nowrap;
}
.order__item_block .order__images {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 263px;
}
.order__item_block .countOrder {
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.order__item_block .block__count {
  position: absolute;
  left: 139px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: rgba(63, 63, 255, 0.88);
}
.order__item_block .list__info__order {
  display: flex;
  flex-direction: column;
  color: #282727;
  font-size: 12px;
  margin-left: 30px;
  width: fit-content;
}
.order__item_block .list__info__order b {
  font-weight: 600;
}
.order__item_block .order__item__status {
  position: absolute;
  top: 0px;
  width: 80px;
  border-radius: 0px 7px 0px 7px;
  background-color: #4345df;
  padding: 4px;
  font-size: 11px;
  text-align: center;
  right: 0px;
}
.order__item_block .btn__delete_order {
  all: unset;
  cursor: pointer;
}
.order__item_block .btn__delete_order img {
  width: 23px;
  height: 23px;
}
.order__item_block .btn__check_order {
  all: unset;
  cursor: pointer;
}
.order__item_block .btn__check_order img {
  width: 23px;
  height: 23px;
  margin-top: 5px;
}

.order__click__block {
  display: grid;
  grid-template-columns: minmax(80px, auto) auto 80px 80px;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  cursor: pointer;
}

.image__block {
  width: 85px;
  height: 75px;
}
.image__block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}