.section_review{
    flex: 1;
    width: 100%;
    background-image: url('./assets/bg-main-img.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}

.section_title {
    padding-top: 45px;
    text-align: left;
}

.input__text {
    border: 0;
    resize: none;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    height: 250px;
    margin-top: 20px;
}





input[type="radio"] {
    display: none;
  }

.star {
    cursor: pointer;
    font-size: 2rem;
    margin: 5px;
}


.inner__block__form {
    max-width: 600px;
}

.main__block__review {
    margin-top: 20px;
}

.error__message {
    font-size: 15px;
    color:rgb(248, 53, 53);
    font-weight: 500;
    width: 100%;
    transition: all 200ms;
}

.block__lower {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    margin-top: 10px;

    .count__letters {
        white-space: nowrap;
        margin-left: auto;
    }
}