@import url('normalize.css');
@import url('./libs/reset.scss');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif ;
    background: #00046F;
    color: white;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.section__title {
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
}

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 30px;
}

.header__logo {
    display: flex;
    align-items: center;
    column-gap: 9px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
    cursor: pointer;
    
    img {
        width: 40px;
    }
}

a {
    list-style: none;
    color: inherit;
    list-style-type: none;
    text-decoration: none;
}

.bread-crumbs {
    display: flex;
    column-gap: 10px;
    padding-top: 20px;
    font-size: 14px;

    a {
        display: flex;
        column-gap: 10px;
        align-items: center;
        color: #F14D29;

        &::after {
            content: "/";
            color: white;
        }
    }
}