.new_box {
    max-width: 265px;
    height: 370px;
    position: relative;
    background-color: white;
    border-radius: 15px;
    color: black;
    overflow: hidden;
}

.image {
    max-width: 150px;
    margin: 0 auto;
}

.title {
    font-size: 20px;
    font-style: normal;
    font-weight: 600; 
    text-align: center;
}

.image_box {
    display: flex;
    justify-content: center;
}

.text_block {
    display: flex;
    flex-direction: column;
}

.text {
    font-size: 13px;
    font-style: normal;
    font-weight: 400; 
    text-align: left;
    margin-top: 10px;
}

.block_price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.price {
    display: flex;
    align-items: end;
    column-gap: 10px;
    margin-top: 5px;
    // flex-direction: column;
    span {
        color: #A1A1A1;
        font-size: 15px;
        font-style: normal;
        font-weight: 500; 
        text-transform: uppercase;
    }
    p {
        color: #1D1D1D; 
        font-size: 19px;
        font-style: normal;
        font-weight: 600; 
    }
}

.btn_add {
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 15px;
    font-style: normal;
    font-weight: 600; 
    border: 0;
    border-radius: 0px 0px 15px 15px;
    background: #8338EC; 
    color: white;
    padding: 15px 0;
    transition: all 300ms;

    &:hover {
        background: #7431d1; 
        transition: all 300ms;
    }
}

.info {
    display: flex;

    flex-direction: column;
    padding: 20px 20px ;
    gap: 10px;
}

.favorite {
    position: absolute;
    top: 15px;
    right: 20px;
    border: 0;
    width: 24px;
    cursor: pointer;
}

.icon_new_box {
    position: absolute;
    bottom: 0;
    right: -38px;
    width: 72px;
    height: 36px;
}
