.new_box {
    max-width: 260px;
    position: relative;
    background-color: white;
    border-radius: 10px;
    color: black;
}

.image {
    max-width: 140px;
    margin: 0 auto;
    transform: scale(1.35);
}

.title {
    font-size: 18px;
    font-style: normal;
    font-weight: 600; 
    text-align: center;
}

.image_box {
    display: flex;
    justify-content: center;
    transform: translateY(-27px);
}

.text_block {
    display: flex;
    flex-direction: column;
}

.text {
    font-size: 13px;
    font-style: normal;
    font-weight: 400; 
    text-align: justify;
    margin-top: 10px;
}

.block_price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
}

.price {
    display: flex;
    align-items: end;
    column-gap: 10px;
    margin-top: 5px;
    span {
        color: #A1A1A1;
        font-size: 15px;
        font-style: normal;
        font-weight: 500; 
        text-transform: uppercase;
    }
    p {
        color: #1D1D1D; 
        font-size: 18px;
        font-style: normal;
        font-weight: 600; 
    }
}

.btn_add {
    width: 100%;
    font-size: 15px;
    height: 100%;
    font-style: normal;
    font-weight: 500; 
    border: 0;
    border-radius: 0px 0px 0px 10px;
    background: #8338EC; 
    color: white;
    transition: all 300ms;

    &:hover {
        background: #7431d1; 
        transition: all 300ms;
    }
}

.info {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    padding: 20px 20px ;
    gap: 10px;
}

.favorite {
    width: 18px;
    cursor: pointer;
    transition: all 200ms;
}

.icon_new_box {
    position: absolute;
    bottom: -29px;
    right: -35.5px;
    width: 74px;
    height: 30px;
}

.cart__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
}

.button__add_cart {
    flex: 1;
    height: 100%;
}

.button__add_favorite {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50px;
    cursor: pointer;
    height: 100%;
    flex: 1;
    border-radius: 0px 0px 10px 0px;
    background-color: rgb(235, 43, 169);
    transition: all 200ms;
    &_love {
        @extend .button__add_favorite;
        background-color:white;
        transition: all 200ms;
    }
}
.counter__block {
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 0px 0px 0px 10px;
    justify-content: space-between;
    padding: 0px 25px;
    background-color: #8338EC; 

}

.counter__image {
    width: 27px;
    height: 27px;
    cursor: pointer;
}

.counter__count {
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}
.counter__info {
    display: flex;
    flex-direction: column;
}
