.button_create {
    width: fit-content;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    border: 0;
    color: inherit;
    line-height: normal;
    border-radius: 8px;
    background-color: rgb(248, 53, 53);
    padding: 10px 30px;
    transition: all 150ms;

    &:hover { 
        transition: all 150ms;
        background-color: rgb(247, 25, 25);
    }

    &:active {   
        background-color: rgb(213, 46, 8);
        transition: all 200ms;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    }
}

.button_create:disabled {
    @extend .button_create;
    background-color: gray;
    opacity: 0.7;
    transition: all 200ms;
}

.counter__block {
    display: flex;
    align-items: center;
}

.image__minus {
    transform: translateX(-30px);
    width: 29.6px;
    height: 18px;
}

.image__plus {
    transform: translateX(30px);
    width: 29.6px;
    height: 18px;
}

.image__counter {
    font-size: 14px;
}