.back_to_top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 50px;
    column-gap:20px;
    border-radius: 50%;
    right: 42px;
    background: #007aff;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 1000;
    border: 0;
    transition: all 250ms;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 0px 20px 1px #002751;

    img {
        width: 22px;
        height: 22px;
    }
}
   
.back_to_top:hover {
    filter: brightness(110%);
    transition: all 250ms;
}

.back_to_top_active {
    opacity: 1;
    visibility: visible;
}