.footer {
    width: 100%;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.footer_text {
    color: rgba(255, 255, 255, 0.96);
    font-size: 13px;
    font-style: normal;
    font-weight: 400; 
}

.contact {
    display: flex;
    align-items: center;
    column-gap: 15px;

    img {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
}