.info {
    display: flex;
    align-items: center;
    color: rgb(239, 239, 239);
    background-color: #090d8e;
    border-radius: 10px;
    column-gap: 15px;
    padding: 20px;
}

.image_box {
    width: 110px;
    height: 110px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.text_block {
    max-width: 350px;
    font-size: 14px;
}

.button {
    border: 0;
    font-size: 13px;
    background-color: blue;
    margin-top: 5px;
    padding: 8px 15px;
    border-radius: 10px;

    &:first-child {
        margin-right: 10px;
    }
}