.likes__review {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    column-gap: 5px;
    min-width: 57px;
    color: rgb(234, 234, 234);
    font-size: 15px;
    font-weight: 500;
    background-color: rgb(118, 37, 248);
    padding: 5px 13px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 150ms;
    
    img {
        width: 15px;
        height: 15px;
        cursor: pointer;
        transition: all 150ms;
    }

    p {
        font-size: 16px;
        line-height: 15px;
        font-weight: 400;
        transition: all 150ms;
    }
}

.likes__review_true {
    @extend .likes__review;
    background-color: rgb(248, 37, 40);
    transition: all 150ms;
}