.likes__review {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    column-gap: 10px;
    color: rgb(234, 234, 234);
    font-size: 15px;
    font-weight: 500;
    background-color: rgb(118, 37, 248);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    
    img {
        width: 15px;
        height: 15px;
        cursor: pointer;
    }

    p {
        font-size: 16px;
        line-height: 15px;
        font-weight: 400;
    }
}
