
.section_constructor {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}


// slider 
.swiper__main_block {
    width: 100% ;
    height: 100%;
    overflow-y: auto;
}

.customSlide__list__types {
    display: grid;
    grid-template-columns: repeat(4, 210px);
    grid-template-rows: repeat(auto-fill, 250px);
    justify-content: center;
    column-gap: 40px;
    row-gap: 40px;
    flex-wrap: wrap;
    margin-left: 20px;
    min-height: 100%;
}

.customIcon {
    background-color: yellow;
    width: 50px;
    height: 50px;
}

.customPagination {
    position: fixed !important;
    z-index: 999;
    margin-top: -50px;
    display: flex;
}

.customSwiper {
    width: 100% ;
    height: calc(100vh - 70px - 40px - 40px) !important;
}

.customSlide {
    width: 100% !important;
    height: 100% !important;
    min-height: 100% !important;
    overflow-y: auto !important;
}