.header {
    display: flex;
    align-items: center;
    height: 70px;
    justify-content: left;
}



.list__navigation {
    display: flex;
    column-gap: 24px;
    font-weight: 500;
    margin-left: 100px;
}

.list__item {
    position: relative;
    cursor: pointer;
    font-size: 15px;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        transform: translateY(3px);
        left: 0;
        width: 0px;
        height: 2px;
        background-color: #F14D29;
        transition: all 300ms;
    }
    &:hover {   
        &::before {
            width: 100%;
            transition: all 300ms;
        }
    }
}

.buttons_block {
    display: flex;
    column-gap: 10px;
    margin-left: auto;
}

