
.ant-tabs-tab-btn {
    font-size: 15px !important;
}

.ant-modal-content {
    padding: 30px !important;
}

.ant-modal-body {
    padding: 20px !important;
}

.ant-modal-title {
    font-size: 18px !important;
}