.main__block_product {
    flex: 1;
    background-color: white;
}

.block__adding__product {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 100px;
}

.header__product {
    display: flex;
    column-gap: 20px;
    padding-bottom: 5px;
    align-items: center;
}

.product__love {
    cursor: pointer;
    margin-bottom: 2px;
}

.product__image {
    width: 50%;
    .image {
        width: 350px;
    }
}

.functions__card {
    color: #161616; 
    background-color: #f3f3f3;
    padding: 50px 50px;   
    .title__product {
        font-size: 23px;
        font-style: normal;
        font-weight: 600;
        line-height: normal; 
        color: #161616; 
    }
    .price__product {
        color: #161616; 
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
        margin-top: 20px;
    }
    .quantity__product {
        margin-top: 20px;
        font-weight: 400;
    }
    .button__add__cart {
        display: flex;
        align-items: center;
        column-gap: 10px;
        margin-top: 20px;
    }
    .add__title {
        font-weight: 400;
    }
    .title__favorite__adding {
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: 400;
    }
    button {
        color: white;
        margin: 0 auto;
        border-radius: 8px;
    }
    .title__messange {
        font-weight: 400;
        margin-top: 20px; 
    }
    .share__icon {
        display: flex;
        column-gap: 10px;
        margin-top: 15px;
    }
    .share__icon__link {
        cursor: pointer;
    }
}

.block__information {
    margin-top: 100px;
    margin-bottom: 100px; 
    
    .title__information {
        color:#161616;
        font-size: 17px;
        font-weight: 600;
    }
    .text__information {
        margin-top: 20px;
        font-size: 15px;
    }
    .text__information {
        color:#161616;
        font-weight: 400;
        text-align: justify;
    }
    .similar__product {
        margin-top: 30px;
    }
}