.mySwiper-product .swiper {
    padding: 0px 10px !important;
}

.mySwiper-product .swiper-wrapper {
    height: 100px !important;
}

.mySwiper-product .swiper-slide {
    display: flex;
    align-items: center;
    box-shadow: none !important;
}

.tabs .ant-tabs-tab-btn {
    font-size: 16px !important;
}

.mySwiper_page .swiper-pagination-bullet {
        width: 12px !important;
        height: 12px !important;
        margin: 0 7px !important;
        background-color: white !important;
}
