.ant-dropdown {
    width: 180px;

    .ant-dropdown-menu {
        border-radius: 2px !important;
        font-family: 'Montserrat', sans-serif;
        padding: 0 !important;
    }

    .ant-dropdown-menu-item {
        padding: 8px 16px !important;
    }
}
