.answer_block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 483px;
    border-radius: 15px;
    background-color: white;
    transition: all 300ms;
    padding: 20px;
}

.answer_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 200ms;

    .block_text {
        opacity: 0;
        height: 0;
        // transition-delay: 0.5s;
    }
    .answer_title {
        font-size: 20px;
        font-style: normal;
        font-weight: 600; 
        text-align: center;
        margin-top: 25px;
        transition: all 200ms;
    }
    .answer_text {
        max-width: 300px;
        font-size: 14px;
        font-style: normal;
        font-weight: 500; 
        text-align: center;
        margin-top: 10px;
        line-height: 110%;
        transition: all 200ms;
    }
    .image_block {
        width: 93px;
        height: 93px;
        transition: all 200ms;
    }
    .answer_image {
        width: 100%;
        height: 100%;
        transition: all 200ms;
        cursor: pointer;
    }
}

.open {

    width: 350px;
    transition: all 200ms;
    color: rgb(59, 59, 59);

    .image_block {
        width: 110px;
        height: 110px;
        transition: all 200ms;
    }

    .block_text {
        opacity: 1;
        height: 100%;
        transition: all 300ms;
        transition-delay: 0.3s;
    }

}

