.cart__item_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 7px;
    padding: 25px 40px;

    .image_check {
        width: 23px;
    }
    .btn__check {
        height: min-content;
        background-color: transparent;
        border: 0;
    }
    .image_product {
        width: 90px;
    }
    .cart__item_info {
        max-width: 240px;
        color: black;
    }
    .title {
        font-size: 20px;
        font-style: normal;
        font-weight: 600; 
        margin-bottom: 5px;
    }
    .text {
        font-size: 13px;
        font-style: normal;
        font-weight: 400; 
    }  
    .btn__delete_item {
        border: 0;
        background-color: transparent;
    }
    .delete_icon {
        width: 27px;
    }
    .count {
        text-align: center; 
        color: #606060;
        min-width: 10px;
    }
    .count_input {
        text-align: center;
        color: #606060;
        border: 1px solid #60606096;
        border-radius: 2px;
        min-width: 10px;
        max-width: 35px;
    }
    .counter__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 13px;
    }
    .btn_counter {
        display: contents;
        border: 0;
        background-color: transparent;
    }
    .counter_icon {
        width: 24px;
    }
    .price {
        color: #282727;
        font-size: 18px;
        font-style: normal;
        font-weight: 500; 
    }
}

