.mySwiper_cart {

    .swiper-pagination{
        margin-top: 75px !important;
    }

    .swiper-pagination-bullet {
        width: 15px !important;
        height: 15px !important;
        margin: 0 8px !important;
    }
}