
.main_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 80px);
    background-image: url('./assets/bg-main-img.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    
    @media (min-width: 1550px) and (max-width: 1920px) {
        margin-top: 83px;
        height: auto;
    }
}


.flex_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.right_block {
    max-width: 600px;
    height: 100%;
}

.image_main {
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.text_block {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.30); 
}

.left_block {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height:110%;
}


.yellow_rectangle{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    transform: skewX(-5deg) translateX(-30px) translateY(8px) rotate(-0.5deg);
    background-color: #FFCA3A;
    width: 101%;
    height: 100%;
    z-index: 1;
}

.text_up_yellow {
    position: relative;
    z-index: 2;
}

.block_yellow {
    display: flex;
    align-items: center;
    position: relative;
}

.steps_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 83px;
    align-items: center;
}

.steps_flex {
    display: grid;
    grid-template-columns: repeat(4, minmax(0px, 250px));
    justify-content: center;
    align-items: start;
    column-gap: 50px;
    margin-top: 83px;
    margin-bottom: 72px;
}

.why_us {
    background-image: url('./assets/bg-main-img.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    .section__title {
        padding-top: 150px;
    }
}


.image_main {
    width: 100%;
}

.answers_block {
    display: flex;
    justify-content: center;
    column-gap: 25px;
    margin-top: 83px;
    padding-bottom: 150px;
}

.section_advertising{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 80px;

    .left_block {
        max-width: 700px;
        row-gap: 0px;
    }

    .block_woman {
        display: contents;
    }   

    .block_woman_image {
        max-width: 400px;
    }

    .title_advertising {
        font-size: 30px;
        font-style: normal;
        font-weight: 600; 
        line-height: normal;
    }
    .text {
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        max-width: 500px;
        line-height: normal;
        margin-bottom: 20px;
        margin-top: 10px;
    }
}

.new_box_flex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 275px));
    justify-content: center;
    gap: 30px;
    margin-top: 83px;
}

.partner_block {
    margin-top: 138px;
}

.partner_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px;
    margin-top: 30px;
    background-color: white;
    padding: 20px 0;
    .image {
        max-width: 150px;
    }
}
.partner_block {
    margin-top: 150px;
    margin-bottom: 150px;
}
.swiper {
    margin-top: 20px;
    color: black;
}

.mySwiper {
    height: 100px;
    width: 20%;
    background-color: white;
}

.section_question {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    background-image: url('./assets/bg-question-img.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;

}

.question_block {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    column-gap: 177px;
    margin-bottom: 100px;

    .left_block {
        width: 500px;
    }
}

.new__list_box {
    margin-top: 142px;
}

.input_question {
    padding: 8px 15px;
    color: #a9a9a9;
    font-size: 13px;
    font-style: normal;
    font-weight: 500; 
    border:0;
    width: 300px;
    height: 39px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 25px;
}