.button_create {
    width: fit-content;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    border: 0;
    color: inherit;
    line-height: normal;
    border-radius: 30px;
    background: #EF4444; 
    padding: 10px 30px;

    &:hover { 
        background-color: rgb(221, 56, 19);  
        transition: all 300ms;
    }

    &:active {   
        background-color: rgb(249, 100, 67);
        transition: all 300ms;
    }
}